---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/linyows/dewy/releases/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1544323622'
      Etag:
      - W/"1859956e18c2b8b97db5cfadbce81375"
      Last-Modified:
      - Wed, 05 Dec 2018 03:18:09 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/linyows/dewy/releases/14353571","assets_url":"https://api.github.com/repos/linyows/dewy/releases/14353571/assets","upload_url":"https://uploads.github.com/repos/linyows/dewy/releases/14353571/assets{?name,label}","html_url":"https://github.com/linyows/dewy/releases/tag/v0.6.0","id":14353571,"node_id":"MDc6UmVsZWFzZTE0MzUzNTcx","tag_name":"v0.6.0","target_commitish":"master","name":"v0.6.0","draft":false,"author":{"login":"linyows","id":72049,"node_id":"MDQ6VXNlcjcyMDQ5","avatar_url":"https://avatars1.githubusercontent.com/u/72049?v=4","gravatar_id":"","url":"https://api.github.com/users/linyows","html_url":"https://github.com/linyows","followers_url":"https://api.github.com/users/linyows/followers","following_url":"https://api.github.com/users/linyows/following{/other_user}","gists_url":"https://api.github.com/users/linyows/gists{/gist_id}","starred_url":"https://api.github.com/users/linyows/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linyows/subscriptions","organizations_url":"https://api.github.com/users/linyows/orgs","repos_url":"https://api.github.com/users/linyows/repos","events_url":"https://api.github.com/users/linyows/events{/privacy}","received_events_url":"https://api.github.com/users/linyows/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-12-05T03:07:55Z","published_at":"2018-12-05T03:18:09Z","assets":[{"url":"https://api.github.com/repos/linyows/dewy/releases/assets/10000821","id":10000821,"node_id":"MDEyOlJlbGVhc2VBc3NldDEwMDAwODIx","name":"checksums.txt","label":"","uploader":{"login":"linyows","id":72049,"node_id":"MDQ6VXNlcjcyMDQ5","avatar_url":"https://avatars1.githubusercontent.com/u/72049?v=4","gravatar_id":"","url":"https://api.github.com/users/linyows","html_url":"https://github.com/linyows","followers_url":"https://api.github.com/users/linyows/followers","following_url":"https://api.github.com/users/linyows/following{/other_user}","gists_url":"https://api.github.com/users/linyows/gists{/gist_id}","starred_url":"https://api.github.com/users/linyows/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/linyows/subscriptions","organizations_url":"https://api.github.com/users/linyows/orgs","repos_url":"https://api.github.com/users/linyows/repos","events_url":"https://api.github.com/users/linyows/events{/privacy}","received_events_url":"https://api.github.com/users/linyows/received_events","type":"User","site_admin":false},"content_type":"text/plain;
        charset=utf-8","state":"uploaded","size":273,"download_count":0,"created_at":"2018-12-05T03:18:10Z","updated_at":"2018-12-05T03:18:10Z","browser_download_url":"https://github.com/linyows/dewy/releases/download/v0.6.0/checksums.txt"},{"url":"https://api.github.com/repos/linyows/dewy/releases/assets/10000819","id":10000819,"node_id":"MDEyOlJlbGVhc2VBc3NldDEwMDAwODE5","name":"dewy_darwin_amd64.tar.gz","label":"","uploader":{"login":"linyows","id":72049,"node_id":"MDQ6VXNlcjcyMDQ5","avatar_url":"https://avatars1.githubusercontent.com/u/72049?v=4","gravatar_id":"","url":"https://api.github.com/users/linyows","html_url":"https://github.com/linyows","followe[...]
